@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.woff') format('woff'),
    url('icomoon.ttf') format('truetype'),
    url('icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e623";
}
.icon-camera:before {
  content: "\e624";
}
.icon-play:before {
  content: "\e625";
}
.icon-user:before {
  content: "\e602";
}
.icon-users:before {
  content: "\e603";
}
.icon-list:before {
  content: "\e600";
}
.icon-list2:before {
  content: "\e601";
}
.icon-googleplus:before {
  content: "\e604";
}
.icon-googleplus2:before {
  content: "\e605";
}
.icon-googleplus3:before {
  content: "\e626";
}
.icon-facebook:before {
  content: "\e606";
}
.icon-twitter:before {
  content: "\e627";
}
.icon-twitter2:before {
  content: "\e607";
}
.icon-twitter3:before {
  content: "\e628";
}
.icon-feed:before {
  content: "\e608";
}
.icon-feed2:before {
  content: "\e609";
}
.icon-vimeo2:before {
  content: "\e60a";
}
.icon-vimeo:before {
  content: "\e60b";
}
.icon-github:before {
  content: "\e629";
}
.icon-github2:before {
  content: "\e62a";
}
.icon-github3:before {
  content: "\e60c";
}
.icon-github22:before {
  content: "\e60d";
}
.icon-blogger:before {
  content: "\e62b";
}
.icon-blogger2:before {
  content: "\e60e";
}
.icon-yahoo:before {
  content: "\e62c";
}
.icon-tux:before {
  content: "\e62d";
}
.icon-apple:before {
  content: "\e60f";
}
.icon-finder:before {
  content: "\e62e";
}
.icon-android:before {
  content: "\e610";
}
.icon-windows8:before {
  content: "\e62f";
}
.icon-skype:before {
  content: "\e630";
}
.icon-linkedin:before {
  content: "\e611";
}
.icon-pinterest:before {
  content: "\e612";
}
.icon-pinterest2:before {
  content: "\e613";
}
.icon-phone:before {
  content: "\e614";
}
.icon-user2:before {
  content: "\e615";
}
.icon-users2:before {
  content: "\e616";
}
.icon-user-add:before {
  content: "\e617";
}
.icon-search:before {
  content: "\e618";
}
.icon-tools:before {
  content: "\e619";
}
.icon-camera2:before {
  content: "\e61a";
}
.icon-lock:before {
  content: "\e61b";
}
.icon-lock-open:before {
  content: "\e61c";
}
.icon-logout:before {
  content: "\e61d";
}
.icon-login:before {
  content: "\e61e";
}
.icon-list3:before {
  content: "\e61f";
}
.icon-add-to-list:before {
  content: "\e620";
}
.icon-list4:before {
  content: "\e621";
  font-size: 2em;
}
.icon-ellipsis:before {
  content: "\e622";
}