// Requirements
// ============

@import "susyone";

$total-columns : 24;
$column-width : 5em;
$gutter-width : 1em;
$grid-padding : 0; //$gutter-width;
$border-box-sizing: true;

// Breakpoint variables
// ====================================================================

$M: 47em; // roughly speaking, around 750px wide with 16px body font  em is body font size
$L: 75em; // roughly speaking, around 1200px wide with 16px body font

[class^="inner"] {
	@include container;
	@include susy-grid-background;
}

nav[role="navigation"] {
    @include at-breakpoint($M) {
        @include span-columns(4,12);
    }
}

.main-content {
    @include at-breakpoint($M) {
        @include prefix(1,24);
        @include span-columns(20 omega,24);
    }
}

$container-style: fluid;

