/*-----------------------------------------------
[Master sheet]
   Project:
   URL:
   Version:
   Creator:
   Last changed:  01/02/12
   Last Updated:  Oluwafemi Adenubi
   Primary use:   Seed International Magazine
   -------------------------------------------------*/

/*-----------------------------------------------
   Table of contents
   1. Normalize
   2. Variables
   3. Typography
   4. Basic layout
   5. Widgets
   6. Media items
   7. Forms
   8. Media queries
   9. IE specific styles
   -------------------------------------------------*/

/*-----------------------------------------------
   £Normalize
   -------------------------------------------------*/

@import "grids";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
  margin:0; 
  padding:0; 
}

body { 
  font-size: 100%; 
  line-height: 1.5em; 
} 

lt-ie8 body {
  font-size: medium; 
} 


a,
a:link,
a:visited,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid #eeeeee;
}

/* ------- Header ------- */






/* ------ content ------- */

.article-cell {
  @include span(3 of 9);
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  height: 25em;
  position: relative;
  overflow: hidden;
  &:nth-child(3n) {
    @include last;
    border-right: 0;
  }
  &:nth-child(-n+3) {
    border-top: 0;
  }
  & > h3 {
    padding: 0.25em;
    border: #333;
    width: auto;
  }
  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; /* so images with a height attribute don’t scale in one dimension */
  }
  & p {
    font-size: 0.929em;
  }
}

lt-ie7 .article-cell img {
    width: 100%; 
  }

/* ---- content navigation ----- */

.content-navigation ul {
    padding: 0;
    margin: 0;
    margin-top: 2em;
}

li {
  list-style-type: none;
}

.content-navigation li {
    float: left;
    margin: 1em;
    margin-top: 0;
    padding: 5%;
    padding-top: 0;
    width: 80%;
    border-bottom: 1px solid #ebebeb;
    //for selected border-bottom: 1px solid #333;
    //margin-right: 8px; padding-right: 8px; padding-top: 8px; padding-bottom: 8px;
}

.content-navigation li:last-child {
    border-bottom: 0;
}

nav.content-navigation {
    border-right: 1px solid #ebebeb;
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
}

/* Footer Section */

.footer {
  border-top: 1px solid #eeeeee;
  margin-top: 28px;
  padding: 28px 0;
}

.social {
  float: left;
  margin-left: 30em;
}
.social .copyright {
  color: #ccc;
  margin-bottom: 10px;
  font-size: 1em;
}
.social li {
  display: inline;
}

.social li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.social-dribbble a, 
.social-facebook a,
.social-twitter a {
  background-image: url('social.png'); 
  background-repeat: no-repeat; 
}

.social-dribbble a {
  background-position: 0px -58px;
} 
.social-facebook a { 
  background-position: 0px -174px; 
}  
.social-twitter a { 
  background-position: 0px -290px; 
}

.social-dribbble a:hover { 
  background-position: 0px 0;  
}
.social-facebook a:hover { 
  background-position: 0px -116px; 
}
.social-twitter a:hover { 
  background-position: 0px -232px; 
}

.contact {
  float: right;
}
.contact, .contact a {
  color: #ccc;
}
.contact ul li:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('contact.png');
  margin-right: 0.1em;
}
.contact-name:before {
  background-position: 0 -29px; 
}
.contact-phone:before {
  background-position: 0 -63px; 
} 
.contact-email:before{ 
  background-position: 0 5px;
}

/*-------------------------*/