/*-----------------------------------------------
[Master sheet]
   Project:
   URL:
   Version:
   Creator:
   Last changed:  01/02/12
   Last Updated:  Oluwafemi Adenubi
   Primary use:   Seed International Magazine
   -------------------------------------------------*/

/*-----------------------------------------------
   Table of contents
   1. Normalize
   2. Variables
   3. Typography
   4. Basic layout
   5. Widgets
   6. Media items
   7. Forms
   8. Media queries
   9. IE specific styles
   -------------------------------------------------*/

/*-----------------------------------------------
   £Normalize
   -------------------------------------------------*/

@import "normalize";
@import "compass/utilities/general/clearfix";
@import "mixins";
@import "font_icons";

/*-----------------------------------------------
   £Typography
 -------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,hr {  
  margin:0; 
  padding:0; 
}
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, kbd,
q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline 
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}*/

body {
  font-size: 100%; 
  line-height: 1.5em; /* 24px 'Lato'*/
} 

lt-ie8 body {
  font-size: medium; 
}


/*-----------------------------------------------
   £Basic layout
 -------------------------------------------------*/

body {
  width: 95%;
  margin: 1.5em auto;
} 

li {
  list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

hr {
    border: 0;
    height: 0;
    width: 100%;
    border-bottom: 0.0625em solid #eeeeee; /* 1px / 16px */
}

/* ------- Header ------- */

.header {
  position: relative;
  font-family: 'Vollkorn', sans-serif;
  text-align: center;
  & h3 {
    font-size: 3em;  /* 3 * 16 = 48px */
    margin: 0.25em 0; /* 12px / 48px */
  }
  & p {
    color: darkgrey;
  }
}

.menu-button {
  display: block;
  //position: relative;
  float: left;
  border: 0.0625em solid #eeeeee; /* 1px/ 16px */
  border-radius: 0.3125em; /* 5px / 16px */
}

.icon-list4:before {
  display: block;
  font-size: 2em;  /* 32px */
  line-height: 1.0em;  /* 32px */
}

%show-navigation {
  display: block;
  position: fixed;
  top: 3.5em; /* 32px */
  left: auto;
  border-radius: 0.3125em; /* 5px / 16px */
  background-color: grey;
}

.menu-button:hover + .content-navigation {
  @extend %show-navigation;
  .content-sub-link {
    display: none;
  }
}

.content-navigation {
  @extend %show-navigation;
  display: none;
}

.content-navigation:hover {
  @extend %show-navigation;
  li .content-sub-link {
    display: none;
  }
  li:hover .content-sub-link {
    display: block;
  }
}
  
.content-link:hover + .content-sub-link {
  display: block;
}

%navigation-anchors 
{
    display: block;
    text-decoration: none;
    text-align: left;
    color: #ffffff;
    font-size: 1.5em; /* 24px */
    padding: 0.5em 1em;
    border-top: 0.041666666666666664em solid #ffffff; /* 1px / 24px */
    margin-left: 1px;
    white-space: nowrap;
    /*&:before {
      content: "+";
    }*/
}

.content-link a
{
    @extend %navigation-anchors;
}

.content-sub-link a
{
    @extend %navigation-anchors;
    padding-left: 2em;
    background-color: lightgrey;
}

/*ul li a:hover 
{
    background: #617F8A;
}
li:hover ul 
{
    display: block;
    position: absolute;
}

li:hover li
{
    float: none;
    font-size: 11px;
}

li:hover a 
{
    background: #617F8A;
}

li:hover li a:hover 
{
    background: #95A9B1;
}*/

/* ---- content navigation ----- */

/*.content-navigation li {
    display: block;
    position: relative;
    float: left;
    /*margin: 1em;
    margin-top: 0;
    padding: 5%;
    padding-top: 0;
    width: 80%;
    border-bottom: 1px solid #ebebeb;
    //for selected border-bottom: 1px solid #333;
    //margin-right: 8px; padding-right: 8px; padding-top: 8px; padding-bottom: 8px;
}*/

/*.content-navigation li:last-child {
    border-bottom: 0;
}

.content-navigation {
    border-right: 1px solid #ebebeb;
    height: 100%;
    //position:fixed;
    left: 0;
    top: 0;
}*/

/* ------ main content ------- */

.main-content {
  overflow: hidden;
  margin: 1.5em 0; /* 24px */
}

.article-cell {  /* 1em = 16px; margin & padding = 0, depends on dimensions for vertical-rythm */
  display: block;
  float: left;
  width: 20em;
  height: 21em; /* 336px / 24px */
  border-right: 0.0625em solid #ebebeb;  /* 1px / 16px */
  & h3 {
    font-family: 'Vollkorn', sans-serif;
  }
  & > h3 {
    width: 94%;
    padding: 0.25em; /* 4px / 16px */
    margin: 0 auto;
    color: white;
    background-color: lightgrey;
  }
  & .section {
    display: block;
    padding: 1.5%;
  }
  & img {
    display: block;
    clear: right;
    margin-left: auto;
    margin-right: auto;
    max-width: 97%;
    max-height: 9.4375em;
    height: auto; /* so images with a height attribute don’t scale in one dimension */
  }
  & .section {
    font-size: 0.9em; /* 14.4px */
    line-height: 1.6666666666666665em; /* 24px / 14.4px */
    height: 10em; /* 6 * line-height / 14.4px */
  }
}

lt-ie7 .article-cell img {
  width: 97%; 
}

/* Footer Section */

.footer {
  font-size: 0.9em; /* 14.4px */
  line-height: 1.6666666666666665em; /* 24px / 14.4px */
  margin: 1.5em 0; 
}

.copyright {
  float: left;
  color: #ccc;
  &:before {
    content:"\00a9";
  }
}
.contact {
  float: right;
  & li {
    color: #ccc;
    padding-top: 0.5972222222222222em; /* 8.6px / 14.4px */
  }
  & a {
    color: #ccc;
  }
  & li:hover, & a:hover {
    color: #333;
  }
}

.contact .mail-contact {
  & li:first-child {
    color: #333;
    border-bottom: 0.06944444444444445em solid #333;
  }
}

.contact .social-contact {
  padding-bottom: 0.5972222222222222em; /* 8.6px / 14.4px */
  & li:first-child {
    //padding: 0 0 0.5972222222222222em;
    color: #333;
    border-bottom: 0.06944444444444445em solid #333;
  }
}

/*& p {
    font-size: 0.929em;
  }
  &:nth-child(3n) {
    @include last;
    border-right: 0;
  }
  &:nth-child(-n+3) {
    border-top: 0;
  }
.spinner {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; // Rounds out the halo 
    opacity: .7; // Some subtle opacity to help blend with variable background colors 
}
.spinner {
    height: 24px; width: 24px; /* Pixel size of the GIF you download 
    background: url("gif.gif");
    position: absolute;
    top: 50%;
    left: 50%;
}
.spinner.medium {
    height: 32px; width: 32px;
    background: url("spiffygif_32x32.gif");
}
.spinner.large {
    height: 64px; width: 64px;
    background: url("spiffygif_64x64.gif");
}*/

A new micro clearfix hack
The clearfix hack is a popular way to contain floats without resorting to using presentational markup. This article presents an update to the clearfix method that further reduces the amount of CSS required.

Demo: Micro clearfix hack

Known support: Firefox 3.5+, Safari 4+, Chrome, Opera 9+, IE 6+

The “micro clearfix” method is suitable for modern browsers and builds upon Thierry Koblentz’s “clearfix reloaded”, which introduced the use of both the :before and :after pseudo-elements.

Here is the updated code (I’ve used a shorter class name too):

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.

.cf:before,
.cf:after {
    content: " "; // 1 
    display: table; // 2 
}

.cf:after {
    clear: both;
}


 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.

.cf {
    *zoom: 1;
}
This “micro clearfix” generates pseudo-elements and sets their display to table. This creates an anonymous table-cell and a new block formatting context that means the :before pseudo-element prevents top-margin collapse. The :after pseudo-element is used to clear the floats. As a result, there is no need to hide any generated content and the total amount of code needed is reduced.

Including the :before selector is not necessary to clear the floats, but it prevents top-margins from collapsing in modern browsers. This has two benefits:

It ensures visual consistency with other float containment techniques that create a new block formatting context, e.g., overflow:hidden
It ensures visual consistency with IE 6/7 when zoom:1 is applied.
N.B.: There are circumstances in which IE 6/7 will not contain the bottom margins of floats within a new block formatting context. Further details can be found here: Better float containment in IE using CSS expressions.

The use of content:" " (note the space in the content string) avoids an Opera bug that creates space around clearfixed elements if the contenteditable attribute is also present somewhere in the HTML. Thanks to Sergio Cerrutti for spotting this fix. An alternative fix is to use font:0/0 a.

Legacy Firefox

Firefox < 3.5 will benefit from using Thierry’s method with the addition of visibility:hidden to hide the inserted character. This is because legacy versions of Firefox need content:"." to avoid extra space appearing between the body and its first child element, in certain circumstances (e.g., jsfiddle.net/necolas/K538S/.)

Alternative float-containment methods that create a new block formatting context, such as applying overflow:hidden or display:inline-block to the container element, will also avoid this behaviour in legacy versions of Firefox.

------------------------*/